* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, system-ui, sans-serif;
    font-size: 16px;
    background: #FFFFFF;
    line-height: 1.5;
    color: #2B2B2B;
}

h1, h2 {
    margin-top: 0;
    font-weight: normal;
    line-height: 1.2;
}

h1 {font-size: 32px; }
h2 {font-size: 28px; }

p, ul, ol {
    margin-top: 0;
    margin-bottom: 16px;
}

a {
    color: #2B2B2B;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

.container {
    max-width: 1200px;
    margin-inline: auto;
    margin-right: auto;
    margin-left: auto;
    padding-inline: 16px;
}

.btn {
    display: inline-block;
    allign-items: center;
    justify-content: center;
    padding: .5em 1em;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: background .2s, box-shadow .2s;
}

.btn--primary {
    background-color: #A8E6CF;
    color: #2B2B2B;
    border: 1px solid #A8E6CF;
}

.btn--primary:hover {
    background-color: #81C7B9;
}

.btn--secondary {
    background-color: #FFD3B6;
    color: #2B2B2B;
    border: 1px solid #FFD3B6;
}

.btn--secondary:hover {
    background: #FFAAA5;
    color: #2B2B2B;
}

.skip-link {
    position: absolute;
    left: -9999px;
    top: -9999px;
}